::-webkit-scrollbar { width: 5px; background-color: #000; }
::-webkit-scrollbar-thumb { background: #FFFFFF; }
::-webkit-scrollbar-thumb:hover { background: #EFEFEF; }
html { scroll-behavior: smooth; }  

body
{
    background-color: #fff;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

#container
{
    position: relative;
    display: block;
    margin: auto;
    height: 6000px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

footer
{
    width: 100%;
    background-image: linear-gradient(#FFFFFF00 20%, #ffffff44 80%);
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
    padding-bottom: 10px;
}

#footer-name
{
    margin: auto;
}

#footer-links a
{
    text-decoration: none;
    color: #FFFFFF;
    filter: drop-shadow(0 0 0px #FFFFFF);
    transition-duration: 250ms;
}

#footer-links a:hover
{
    text-decoration: none;
    color: #FFFFFF;
    filter: drop-shadow(0 0 15px #FFFFFF);
}
