::-webkit-scrollbar { width: 5px; background-color: #000; }
::-webkit-scrollbar-thumb { background: #FFFFFF; }
::-webkit-scrollbar-thumb:hover { background: #EFEFEF; }
html { scroll-behavior: smooth; }  

body
{
    background-color: #fff;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

#container
{
    position: relative;
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#project-adding
{
    margin: auto;
    width: 50%;
    min-width: 300px;
    margin-top: 30px;
}

#project-adding input
{
    width: 100%;
    height: 20px;
    padding: auto 0;
    margin-bottom: 10px;
}

#project-adding textarea
{
    width: 100%;
    height: 80px;
    resize: none;
    padding: auto 0;
    margin-bottom: 10px;
}

#project-adding div
{
    width: calc(100% + 5px);
    height: 30px;
    background: #000000;
    color: #FFFFFF;
    transition-duration: 200ms;
    line-height: 30px;
    margin-bottom: 30px;
}

#project-adding div:hover
{
    background: #222222;
    cursor: pointer;
}
