::-webkit-scrollbar 
{
  width: 5px;
  background-color: #000;
}
 
::-webkit-scrollbar-thumb 
{
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb:hover 
{
  background: #EFEFEF;
}

html 
{
    scroll-behavior: smooth;
}  

body
{
    background-image: linear-gradient(#FFA17F, #ffffff);
    background-repeat: no-repeat;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

#container
{
    position: relative;
    display: block;
    margin: auto;
    height: 6000px;
    width: 100%;
    text-align: center;
}

#back-to-top
{
    text-decoration: none;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: fixed;
    top: 840px;
    left: 94%;
    text-shadow: 0 0 10px #fff;
    transition-duration: 1000ms;
    opacity: 0;
    text-align: center;
    font-size: 50px;
    line-height: 70px;
}

#name
{
    position: relative;
    top: 200px;
    left: 37%;
    width: 500px;
    font-size: 49px;
    color: #fff;
    font-weight: 200;
    text-align: left;
}