::-webkit-scrollbar { width: 5px; background-color: #000; }
::-webkit-scrollbar-thumb { background: #FFFFFF; }
::-webkit-scrollbar-thumb:hover { background: #EFEFEF; }
html { scroll-behavior: smooth; }  

body
{
    background-image: linear-gradient(#ffffff, #FFA17F);
    background-repeat: no-repeat;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

#container
{
    position: relative;
    display: block;
    margin: auto;
    height: 6000px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

footer
{
    width: calc(100% - 30px);
    height: 30px;
    background-image: linear-gradient(#FFFFFF00 20%, #ffffff44 80%);
    text-align: right;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
}

#back-to-top
{
    text-decoration: none;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: fixed;
    top: 86%;
    right: 2%;
    text-shadow: 0 0 10px #fff;
    transition-duration: 1000ms;
    opacity: 0;
    text-align: center;
    font-size: 4vh;
    line-height: 70px;
}

#name
{
    position: relative;
    top: 20vw;
    left: 35vw;
    width: 695px;
    font-size: 3.2vw;
    color: #000;
    text-shadow: 0 0 5px #000;
    font-weight: 200;
    text-align: left;
}

/*#region Nav*/

nav
{
    display: none;
    position: fixed;
    z-index: 1;
    height: 30px;
    width: 100%;
    transition-duration: 600ms;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 0 0px #fff;
}

nav a
{
    position: relative;
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 1.6vh;
}

nav a:first-of-type
{
    margin-left: 2vh;
}

.nav-text
{
    visibility: visible;
}

.nav-element
{
    height: 30px;
    width: 100px;
    display: inline-block;
    transition-duration: 600ms;
    text-shadow: 0 0px 0px #fff;
    cursor: default;
}

.nav-element-input
{
    position: relative;
    top: -5px;
    height: 30px;
    width: 1550px;
    display: none;
    transition-duration: 600ms;
    cursor: default;
    text-align: right;
}

.nav-element-input input[name="cmd"]
{
    height: 18px;
    width: 200px;
    display: inline-block;
    transition-duration: 600ms;
    cursor: default;
    border: none;
    outline: none;
    text-align: right;
    position: relative;
    top: 4px;
    right: 4px;
}

.nav-element-input input[type="text"]:hover
{
    outline: none;
}

.nav-element-visible:hover
{
    background-color: #FFA17F;
}

/*#endregion Nav*/

/*#region Sections*/

.section
{
    width: 100%;
}

.section-header
{
    position: relative;
    top: 150px;
    left: -5%;
    width: 110%;
    height: 160px;
    filter: drop-shadow(0 0 10px #FFF);
    transform: rotateZ(-5deg);
    background-color: #FFF;
    margin-bottom: 300px;
}

.section-text
{
    font-size: 40px;
    position: relative;
    top: 0vw;
    left: 45%;
}

.section-header p
{
    transform: rotateZ(5deg);
    line-height: 160px;
    color: #000000;
    font-weight: bold;
    text-align: left;
}

#projects
{
    position: relative;
    top: 2000px;
    height: 800px;
}

#project-list
{
    width: 80%;
    margin: auto;
    height: auto;
    padding: 30px;
}

#project-list .content
{
    width: 96%;
    height: max-content;

    margin: auto;
}

.project
{
    height: content;
    width: content;
    margin: 0px;
    float: left;
}

.project-T-cont
{
    height: 28vw;
    width: 42vw;
}

.project-T
{
    height: 14vw;
    width: 42vw;
    background-color: #AE12AE;
    float: left;
}

.project-T:after
{
    content: '';
    position: relative;
    top: 14vw;
    left: 14vw;
    height: 14vw;
    width: 14vw;
    background-color: #AE12AE;
    float: left;
}

.project-Z-cont
{
    height: 28vw;
    width: 42vw;
}

.project-Z
{
    height: 14vw;
    width: 28vw;
    background-color: #12AE12;
    float: left;
}

.project-Z:after
{
    content: '';
    position: relative;
    top: 14vw;
    left: 14vw;
    height: 14vw;
    width: 28vw;
    background-color: #12AE12;
    float: left;
}

.project-nZ
{
    position: relative;
    left: 14vw;
    height: 14vw;
    width: 28vw;
    background-color: #AE2323;
    float: left;
}

.project-nZ:after
{
    content: '';
    position: relative;
    top: 14vw;
    left: -14vw;
    height: calc(14vw - 1px);
    width: 28vw;
    background-color: #AE2323;
    float: left;
}

.project-Q-cont
{
    height: 28vw;
    width: 28vw;
}

.project-Q
{
    height: 28vw;
    width: 28vw;
    background-color: #FFFF12;
    float: left;
}

.project-I-cont
{
    height: 56vw;
    width: 14vw;
}

.project-I
{
    height: 56vw;
    width: 14vw;
    background-color: #12ABFF;
    float: left;
}

.project-L-cont
{
    height: 42vw;
    width: 28vw;
}

.project-L
{
    height: 42vw;
    width: 14vw;
    background-color: #DEAB12;
    float: left;
}

.project-L:after
{
    content: '';
    position: relative;
    top: 28vw;
    left: 14vw;
    height: 14vw;
    width: 14vw;
    background-color: #DEAB12;
    float: left;
}

.project-J
{
    position: relative;
    top: 28vw;
    height: 14vw;
    width: 14vw;
    background-color: #DE12AE;
    float: left;
}

.project-J:after
{
    content: '';
    position: relative;
    top: -28vw;
    left: 14vw;
    height: 42vw;
    width: 14vw;
    background-color: #DE12AE;
    float: left;
}

#project_1
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_2
{
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(0deg) translate(0px, 0px);
}
#project_3
{
    position: relative;
    transform-origin: left top;
    transform: rotate(90deg) translate(-14vw, calc(-56vw));
}

#project_4
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_5
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_6
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_7
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_8
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_9
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}
#project_10
{
    position: relative;
    top: 0px;
    left: 0px;
    /* transform: rotate(90deg); */
}

#contact
{
    position: relative;
    top: 4000px;
    height: 1000px;
}

#contact form
{
    position: relative;
    top: 250px;
}

#contact form input, textarea
{
    font-family: inherit;
    display: block;
    width: 400px;
    margin: 10px auto auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    padding: 0px 8px;
    background-color: #fff;
    box-shadow: inset 0 0 5px #FFA17F;
    border: none;
    border-radius: 3px;
    outline: none;
}

#contact form textarea
{
    resize: none;
    padding-top: 8px;
    line-height: 18px;
}

#contact form input[type="submit"]
{
    font-family: inherit;
    display: block;
    width: 416px;
    margin: 10px auto auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    padding: 0px 8px;
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 5px #000;
    border: none;
    border-radius: 3px;
    outline: none;
    transition-duration: 300ms;
}

#contact form input[type="submit"]:hover
{
    box-shadow: 0 0 15px #000;
    text-shadow: 0 0 5px #fff;
}

/*#endregion Sections*/



@media screen and (max-width: 600px)
{
    #name
    {
        position: relative;
        top: 20vw;
        left: 28vw;
        width: 695px;
        font-size: 5vw;
        color: #000;
        text-shadow: 0 0 5px #000;
        font-weight: 300;
        text-align: left;
    }

    .nav-text
    {
      visibility: hidden;
    }

    .nav-element
    {
        height: 30px;
        width: 30px;
        display: inline-block;
        transition-duration: 600ms;
        text-shadow: 0 0px 0px #fff;
        cursor: default;
    }

    .section-header
    {
        position: relative;
        top: 150px;
        left: -5%;
        width: 110%;
        height: 80px;
        filter: drop-shadow(0 0 10px #FFF);
        transform: rotateZ(-5deg);
        background-color: #FFF;
    }

    .section-text
    {
        font-size: 6vw;
        position: relative;
        top: -8vw;
        left: 38vw;
    }
}